
<html>

<p>Simply fill in your names and Start Game!</p>

<form action="/games" method="post" class="navbar-form navbar-left">
  <div class="form-group">
    
    <input type="text" name="player1" placeholder ="player 1 name"></input>
	<br>
    <input type="text" name="player2" placeholder ="player 2 name"></input>
    <br><br>

  	<input type="submit" value="Start Game"></input>
  </div>
</form>